<ngx-smart-modal #employeeAppraisals identifier="employeeAppraisals" [dismissable]="false" [closable]="false"
  customClass="nsm-dialog-animation-btt medium-modal">

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="with-line">{{employeeName + ' Appraisals'}}</h5>
            <hr>
            <div class="row mb-3">
              <div class="col-md-8">
                <button *ngIf="currentUser.isManager" class="btn btn-primary" (click)="createAppraisal()">Schedule
                  Appraisal</button>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                  <input [readonly]="appraisals.length === 0" type="text" class="form-control" placeholder="Search">
                </div>
              </div>
            </div>
            <app-appraisal-list [isBusy]="busy" [appraisals]="appraisals"></app-appraisal-list>
          </div>
          <div class="card-footer text-right">
            <button (click)="employeeAppraisals.close()" class="btn btn-danger dialog-button">Cancel</button>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</ngx-smart-modal>
<app-appraisal-details></app-appraisal-details>
<app-create-appraisal></app-create-appraisal>