<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                                <input [readonly]="appraisals.length === 0" type="text" class="form-control"
                                    placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <app-appraisal-list [isBusy]="busy" [appraisals]="appraisals"></app-appraisal-list>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<app-appraisal-details></app-appraisal-details>