<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div [ngBusy]="busy" class="card">
        <div class="card-header">
          Gender Balance
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <ng-select id="ministry" name="ministry" [items]="ministries" bindLabel="name" bindValue="id"
                        [(ngModel)]="selectedMinistryId" (change)="ministryChanged()" placeholder="Ministry">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <ng-select id="department" name="department" [items]="departments" bindLabel="name" bindValue="id"
                        [(ngModel)]="selectedDepartmentId" (change)="departmentChanged()" placeholder="Department">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <ng-select id="section" name="section" [items]="sections" bindLabel="name" bindValue="id"
                        [(ngModel)]="selectedSectionId" (change)="sectionChanged()" placeholder="Section">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <ng-select id="dutyStation" name="dutyStation" [items]="dutyStations" bindLabel="name" bindValue="id"
                        [(ngModel)]="selectedDutyStationId" (change)="dutyStationChanged()" placeholder="Duty Station">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <button (click)="loadReport()" class="btn btn-primary">Load Report</button>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <h5 class="text-center">{{reportHeader}}</h5>
              <hr>
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [data]="reportData" [labels]="reportLabels" [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<app-upsert-employee></app-upsert-employee>
<app-employee-appraisals></app-employee-appraisals>