<table [ngBusy]="isBusy" class="table table-striped">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>Mid Yr Review Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="appraisals.length === 0">
      <td colspan="4">
        <h5>No Records</h5>
      </td>
    </tr>
    <tr *ngFor="let appraisal of appraisals">
      <td>{{appraisal.startDate | date: 'dd MMM yyyy'}}</td>
      <td>{{appraisal.midYearReviewDate | date: 'dd MMM yyyy'}}</td>
      <td>{{appraisal.endDate | date: 'dd MMM yyyy'}}</td>
      <td class="action-column">
        <button class="btn btn-primary btn-sm inline-button-long" (click)="viewAppraisal(appraisal.id)">View</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <nav *ngIf="appraisals.length > 0">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav> -->