<ngx-smart-modal #createAppraisal identifier="createAppraisal" [dismissable]="false" [closable]="false" customClass="nsm-dialog-animation-btt">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div [ngBusy]="busy" class="card">
          <div class="card-body">
            <form class="form-horizontal was-validated">
              <h5 class="with-line">Appraisal Details</h5>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="startDate">Start Date</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.startDate" autofocus type="date" id="startDate" name="startDate" class="form-control"
                        required>
                      <span class="invalid-feedback">Enter start date</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="midYearReviewDate">Mid Year Review Date</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.midYearReviewDate" type="date" id="midYearReviewDate" name="midYearReviewDate"
                        class="form-control" required>
                      <span class="invalid-feedback">Enter mid year review date</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="endDate">End Date</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.endDate" type="date" id="endDate" name="endDate" class="form-control"
                        required>
                      <span class="invalid-feedback">Enter end date</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-right">
            <button (click)="createAppraisal.close()" class="btn btn-danger dialog-button">Cancel</button>
            <button (click)="save()" type="submit" class="btn btn-primary dialog-button">Save</button>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</ngx-smart-modal>