<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
          </div>
          <div class="h4 mb-0">{{employees.length}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Employees</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user"></i>
          </div>
          <div class="h4 mb-0">{{maleEmployeeCount}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Male Employees</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" [style.width]="maleEmployeePercentage + '%'"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-female"></i>
          </div>
          <div class="h4 mb-0">{{femaleEmployeeCount}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Female Employees</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" [style.width]="femaleEmployeePercentage + '%'"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-8">
              <button *ngIf="currentUser.isAdmin" (click)="addEmployee()" class="btn btn-primary">Add Employee</button>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
                <input [readonly]="employees.length === 0" type="text" class="form-control" placeholder="Search">
              </div>
            </div>
          </div>
          <table [ngBusy]="busy" class="table table-striped">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="employees.length === 0">
                <td colspan="7">
                  <h5>No Records</h5>
                </td>
              </tr>
              <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.middleName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.username}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phoneNumber}}</td>
                <td>
                  <button *ngIf="currentUser.isManager" class="btn btn-primary btn-sm inline-button-long" (click)="viewAppraisals(employee)">Appraisals</button>
                  <button *ngIf="currentUser.isAdmin" class="btn btn-success btn-sm inline-button" (click)="editEmployee(employee.id)">Edit</button>
                  <button *ngIf="currentUser.isAdmin" class="btn btn-danger btn-sm inline-button">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <nav *ngIf="employees.length > 0">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<app-upsert-employee></app-upsert-employee>
<app-employee-appraisals></app-employee-appraisals>