<ngx-smart-modal #performanceTrainingNeeds identifier="performanceTrainingNeeds" [dismissable]="false" [closable]="false"
  customClass="nsm-dialog-animation-btt medium-modal">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div [ngBusy]="busy" class="card">
          <div class="card-body">
            <form class="form-horizontal was-validated">
              <h5 class="with-line">Training and Development Need Details</h5>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="performanceTrainingNeed">Training Need</label>
                    <div class="col-md-10">
                      <input [(ngModel)]="model.description" autofocus type="text" id="performanceTrainingNeed" name="performanceTrainingNeed"
                        class="form-control" required>
                      <span class="invalid-feedback">Enter training need</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-right">
            <button (click)="performanceTrainingNeeds.close()" class="btn btn-danger dialog-button">Cancel</button>
            <button (click)="save()" type="submit" class="btn btn-primary dialog-button">Save</button>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</ngx-smart-modal>