<ngx-smart-modal #upsertEmployee identifier="upsertEmployee" [dismissable]="false" [closable]="false" customClass="nsm-dialog-animation-btt medium-modal">
  <app-employee [isBusy]="busy" [model]="model" [entryMode]="entryMode" [managers]="managers" (onCancel)="close()"></app-employee>
</ngx-smart-modal>