<ngx-smart-modal #dutyStationDetails identifier="dutyStationDetails" [dismissable]="false" [closable]="false"
  customClass="nsm-dialog-animation-btt medium-modal">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div [ngBusy]="busy" class="card">
          <div class="card-body">
            <form class="form-horizontal was-validated">
              <h5 class="with-line">Duty Station Details</h5>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="ministry">Ministry</label>
                    <div class="col-md-10">
                      <ng-select id="ministry" name="ministry" [items]="ministries" bindLabel="name" bindValue="id"
                        [(ngModel)]="selectedMinistryId" (change)="ministryChanged()" required>
                      </ng-select>
                      <span class="invalid-feedback">Select Ministry</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="department">Department</label>
                    <div class="col-md-10">
                      <ng-select id="department" name="department" [items]="departments" bindLabel="name" bindValue="id"
                        [(ngModel)]="selectedDepartmentId" (change)="departmentChanged()" required>
                      </ng-select>
                      <span class="invalid-feedback">Select Department</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="department">Section</label>
                    <div class="col-md-10">
                      <ng-select id="section" name="section" [items]="sections" bindLabel="name" bindValue="id"
                        [(ngModel)]="model.sectionId" required>
                      </ng-select>
                      <span class="invalid-feedback">Select Section</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="name">Name</label>
                    <div class="col-md-10">
                      <input [(ngModel)]="model.name" autofocus type="text" id="name" name="name" class="form-control"
                        required>
                      <span class="invalid-feedback">Enter name</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-right">
            <button (click)="dutyStationDetails.close()" class="btn btn-danger dialog-button">Cancel</button>
            <button (click)="save()" type="submit" class="btn btn-primary dialog-button">Save</button>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</ngx-smart-modal>