<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <tabset>
            <tab class="main-tab" heading="Ministry Settings" [active]="activeTab[0]">
              <div class="row">
                <div class="col-md-3">
                  <h5 class="with-line">Ministries</h5>
                  <hr>
                  <div class="row mb-3">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4 text-right">
                      <button (click)="addMinistry()" class="btn btn-primary">Add</button>
                    </div>
                  </div>
                  <table [ngBusy]="ministriesLoading" class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="ministries.length === 0">
                        <td colspan="3">
                          <h5>No Records</h5>
                        </td>
                      </tr>
                      <tr *ngFor="let ministry of ministries; let i = index">
                        <td style="width:20px">{{i + 1}}</td>
                        <td>{{ministry.name}}</td>
                        <td class="action-column">
                          <button class="btn btn-success btn-sm inline-button" (click)="editMinistry(ministry.id)">Edit</button>
                          <button class="btn btn-danger btn-sm inline-button" (click)="deleteMinistry(ministry.id)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-3">
                  <h5 class="with-line">Departments</h5>
                  <hr>
                  <div class="row mb-3">
                    <div class="col-md-9">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <ng-select id="departmentMinistry" name="departmentMinistry" [items]="ministries" bindLabel="name"
                            bindValue="id" [(ngModel)]="departmentSelectedMinistryId" (change)="departmentMinistryChanged()"
                            placeholder="Ministry">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 text-right">
                      <button (click)="addDepartment()" class="btn btn-primary">Add</button>
                    </div>
                  </div>
                  <table [ngBusy]="departmentsLoading" class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="departments.length === 0">
                        <td colspan="3">
                          <h5>No Records</h5>
                        </td>
                      </tr>
                      <tr *ngFor="let department of departments; let i = index">
                        <td style="width:20px">{{i + 1}}</td>
                        <td>{{department.name}}</td>
                        <td class="action-column">
                          <button class="btn btn-success btn-sm inline-button" (click)="editDepartment(department.id)">Edit</button>
                          <button class="btn btn-danger btn-sm inline-button" (click)="deleteDepartment(department.id)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-3">
                  <h5 class="with-line">Sections</h5>
                  <hr>
                  <div class="row mb-3">
                    <div class="col-md-9">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <ng-select id="sectionMinistry" name="sectionMinistry" [items]="ministries" bindLabel="name"
                            bindValue="id" [(ngModel)]="sectionSelectedMinistryId" (change)="sectionMinistryChanged()"
                            placeholder="Ministry">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 text-right">
                    </div>
                    <div class="col-md-9">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <ng-select id="sectionDepartment" name="sectionDepartment" [items]="sectionDepartments"
                            bindLabel="name" bindValue="id" [(ngModel)]="sectionSelectedDepartmentId" (change)="sectionDepartmentChanged()"
                            placeholder="Department">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 text-right">
                      <button (click)="addSection()" class="btn btn-primary">Add</button>
                    </div>
                  </div>
                  <table [ngBusy]="sectionsLoading" class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="sections.length === 0">
                        <td colspan="3">
                          <h5>No Records</h5>
                        </td>
                      </tr>
                      <tr *ngFor="let section of sections; let i = index">
                        <td style="width:20px">{{i + 1}}</td>
                        <td>{{section.name}}</td>
                        <td class="action-column">
                          <button class="btn btn-success btn-sm inline-button" (click)="editSection(section.id)">Edit</button>
                          <button class="btn btn-danger btn-sm inline-button" (click)="deleteSection(section.id)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-3">
                  <h5 class="with-line">Duty Stations</h5>
                  <hr>
                  <div class="row mb-3">
                    <div class="col-md-9">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <ng-select id="dutyStationMinistry" name="dutyStationMinistry" [items]="ministries" bindLabel="name"
                            bindValue="id" [(ngModel)]="dutyStationSelectedMinistryId" (change)="dutyStationMinistryChanged()"
                            placeholder="Ministry">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 text-right">
                    </div>
                    <div class="col-md-9">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <ng-select id="dutyStationDepartment" name="dutyStationDepartment" [items]="dutyStationDepartments"
                            bindLabel="name" bindValue="id" [(ngModel)]="dutyStationSelectedDepartmentId" (change)="dutyStationDepartmentChanged()"
                            placeholder="Department">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 text-right">
                    </div>
                    <div class="col-md-9">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <ng-select id="dutyStationSection" name="dutyStationSection" [items]="dutyStationSections"
                            bindLabel="name" bindValue="id" [(ngModel)]="dutyStationSelectedSectionId" (change)="dutyStationSectionChanged()"
                            placeholder="Section">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 text-right">
                      <button (click)="addDutyStation()" class="btn btn-primary">Add</button>
                    </div>
                  </div>
                  <table [ngBusy]="dutyStationsLoading" class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="dutyStations.length === 0">
                        <td colspan="3">
                          <h5>No Records</h5>
                        </td>
                      </tr>
                      <tr *ngFor="let dutyStation of dutyStations; let i = index">
                        <td style="width:20px">{{i + 1}}</td>
                        <td>{{dutyStation.name}}</td>
                        <td class="action-column">
                          <button class="btn btn-success btn-sm inline-button" (click)="editDutyStation(dutyStation.id)">Edit</button>
                          <button class="btn btn-danger btn-sm inline-button" (click)="deleteDutyStation(dutyStation.id)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>
            <tab class="main-tab" heading="Other Settings" [active]="activeTab[1]">
              <h5>Other settings</h5>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<app-ministry-details></app-ministry-details>
<app-department-details></app-department-details>
<app-section-details></app-section-details>
<app-duty-station-details></app-duty-station-details>