<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div [ngBusy]="isBusy" class="card">
        <!-- <div class="text-right">
            <button class="btn btn-danger" (click)="upsertEmployee.close()">
              <i class="fa fa-close fa-lg"></i></button>
          </div> -->
        <div class="card-body">
          <form class="form-horizontal was-validated">
            <h5 class="with-line">General Information</h5>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="firstName">First Name</label>
                  <div class="col-md-9">
                    <input [(ngModel)]="model.firstName" autofocus type="text" id="firstName" name="firstName" class="form-control"
                      required>
                    <span class="invalid-feedback">Enter first name</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="middleName">Middle Name</label>
                  <div class="col-md-9">
                    <input [(ngModel)]="model.middleName" type="text" id="middleName" name="middleName" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="lastName">Last Name</label>
                  <div class="col-md-9">
                    <input [(ngModel)]="model.lastName" type="text" id="lastName" name="lastName" class="form-control"
                      required>
                    <span class="invalid-feedback">Enter last name</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="gender">Gender</label>
                  <div class="col-md-9">
                    <ng-select [items]="genders" bindLabel="description" bindValue="code" [(ngModel)]="model.gender" id="gender"
                      name="gender" required>
                    </ng-select>
                    <span class="invalid-feedback">Select gender</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="username">Username</label>
                  <div class="col-md-9">
                    <input [(ngModel)]="model.username" type="text" id="username" name="username" class="form-control"
                      required>
                    <span class="invalid-feedback">Enter username</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Roles</label>
                  <div class=" col-md-9">
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="checkbox" id="isManager" name="isManager" [(ngModel)]="model.isManager"
                        [disabled]="employeeViewMode === 'Profile'">
                      <label class="form-check-label" for="isManager">Manager</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="checkbox" id="isAdmin" name="isAdmin" [(ngModel)]="model.isAdmin"
                        [disabled]="employeeViewMode === 'Profile'">
                      <label class="form-check-label" for="isAdmin">HR Admin</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="employmentType">Employee Type</label>
                  <div class="col-md-9">
                    <ng-select id="employmentType" name="employmentType" [items]="employmentTypes" bindLabel="name"
                      bindValue="id" [(ngModel)]="model.employmentTypeId" required [disabled]="employeeViewMode === 'Profile'">
                    </ng-select>
                    <span class="invalid-feedback">Select employee type</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="jobGroup">Job Group</label>
                  <div class="col-md-9">
                    <ng-select id="jobGroup" name="jobGroup" [items]="jobGroups" bindLabel="alternativeDescription"
                      bindValue="id" [(ngModel)]="model.jobGroupId" required [disabled]="employeeViewMode === 'Profile'">
                    </ng-select>
                    <span class="invalid-feedback">Select job group</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="designation">Designation</label>
                  <div class="col-md-9">
                    <ng-select id="designation" name="designation" [items]="designations" bindLabel="name" bindValue="id"
                      [(ngModel)]="model.designationId" required [disabled]="employeeViewMode === 'Profile'">
                    </ng-select>
                    <span class="invalid-feedback">Select designation</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="manager">Manager</label>
                  <div class="col-md-9">
                    <ng-select id="manager" name="manager" [items]="managers" bindLabel="fullName" bindValue="id"
                      [(ngModel)]="model.managerId" required [disabled]="employeeViewMode === 'Profile'">
                    </ng-select>
                    <span class="invalid-feedback">Select manager</span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="ministryStateDepartment">Ministry / State Department</label>
                  <div class="col-md-9">
                    <ng-select id="ministry" name="ministry" [items]="ministries" bindLabel="name" bindValue="id"
                      [(ngModel)]="model.ministryId" (change)="ministryChanged()" [disabled]="employeeViewMode === 'Profile'">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="directorateDepartmentDivision">Directorate /
                    Department / Division</label>
                  <div class="col-md-9">
                    <ng-select id="department" name="department" [items]="departments" bindLabel="name" bindValue="id"
                      [(ngModel)]="model.departmentId" (change)="departmentChanged()" [disabled]="employeeViewMode === 'Profile'">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="sectionUnit">Section / Unit</label>
                  <div class="col-md-9">
                    <ng-select id="section" name="section" [items]="sections" bindLabel="name" bindValue="id"
                      [(ngModel)]="model.sectionId" (change)="sectionChanged()" [disabled]="employeeViewMode === 'Profile'">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="dutyStation">Duty Station</label>
                  <div class="col-md-9">
                    <ng-select id="dutyStation" name="dutyStation" [items]="dutyStations" bindLabel="name" bindValue="id"
                      [(ngModel)]="model.dutyStationId" [disabled]="employeeViewMode === 'Profile'">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="with-line">Contact Information</h5>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="email">Email</label>
                  <div class="col-md-9">
                    <input [(ngModel)]="model.email" type="email" id="email" name="email" class="form-control"
                      autocomplete="email">
                    <span class="invalid-feedback invalid-feedback">Enter valid email address</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="phoneNumber">Phone</label>
                  <div class="col-md-9">
                    <input [(ngModel)]="model.phoneNumber" type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                      required>
                    <span class="invalid-feedback invalid-feedback">Enter phone number</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer text-right">
          <button *ngIf="allowCancel === true" (click)="cancel()" class="btn btn-danger dialog-button">Cancel</button>
          <button (click)="save()" type="submit" class="btn btn-primary dialog-button">Save</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>