<ngx-smart-modal #performanceTargetDetails identifier="performanceTargetDetails" [dismissable]="false" [closable]="false"
  customClass="nsm-dialog-animation-btt medium-modal">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div [ngBusy]="busy" class="card">
          <div class="card-body">
            <form class="form-horizontal was-validated">
              <h5 class="with-line">Performance Target Details</h5>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="performanceTarget">Agreed Performance Target</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.performanceTarget" autofocus type="text" id="performanceTarget" name="performanceTarget"
                        class="form-control" required [disabled]="isEmployeeViewing !== true">
                      <span class="invalid-feedback">Enter performance target</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="performanceIndicator">Performance Indicator</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.performanceIndicator" type="text" id="performanceIndicator" name="performanceIndicator"
                        class="form-control" required [disabled]="isEmployeeViewing !== true">
                      <span class="invalid-feedback">Enter performance indicator</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="jobGroupJAndAbove === true && isMidYearReview === true" class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="updatedPerformanceTarget">Targets Changed or Added</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.updatedPerformanceTarget" type="text" id="updatedPerformanceTarget"
                        name="updatedPerformanceTarget" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div *ngIf="jobGroupHAndBelow === true || isMidYearReview === true" class="form-group row">
                    <label *ngIf="jobGroupHAndBelow === true" class="col-md-3 col-form-label" for="midYearReviewRemarks">Mid
                      Year Review (Remarks)</label>
                    <label *ngIf="jobGroupJAndAbove === true" class="col-md-3 col-form-label" for="midYearReviewRemarks">Remarks
                      (Indicate Levelof Achievement)</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.midYearReviewRemarks" type="text" id="midYearReviewRemarks" name="midYearReviewRemarks"
                        class="form-control" [disabled]="isManagerViewing !== true">
                    </div>
                  </div>
                </div>
                <div *ngIf="jobGroupJAndAbove === true && isMidYearReview === false" class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="achievedResult">Achieved Result In Line With
                      Performance Indicator</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.achievedResult" type="text" id="achievedResult" name="achievedResult"
                        class="form-control" [disabled]="isManagerViewing !== true">
                    </div>
                  </div>
                </div>
                <div *ngIf="jobGroupHAndBelow === true || isMidYearReview === false" class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="performanceAppraisalScore">Performance Appraisal Score</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="model.performanceAppraisalScore" type="number" id="performanceAppraisalScore"
                        name="performanceAppraisalScore" class="form-control" [disabled]="isManagerViewing !== true">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-right">
            <button (click)="performanceTargetDetails.close()" class="btn btn-danger dialog-button">Cancel</button>
            <button (click)="save()" type="submit" class="btn btn-primary dialog-button">Save</button>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</ngx-smart-modal>