<ngx-smart-modal #appraisalDetails identifier="appraisalDetails" [dismissable]="false" [closable]="false" customClass="nsm-dialog-animation-btt medium-modal">
  <div class="animated fadeIn">
    <div class="row">
      <div [ngBusy]="busy" class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="with-line">Performance Appraisal - {{model.startDate | date: 'dd MMM yyyy'}} - {{model.endDate |
              date:'dd MMM yyyy'}}</h5>
            <hr>
            <!-- Nav tabs -->
            <tabset>
              <tab class="main-tab" heading="Section 1" [active]="activeTab[0]">
                <h5 class="with-line">Employment Details</h5>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="personalNo">Personal No.</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="model.employee.personalNo" type="text" id="personalNo" name="personalNo"
                          class="form-control" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="employeeName">Name</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="employeeFullName" type="text" id="employeeName" name="employeeName" class="form-control"
                          disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="designation">Designation</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="designation" type="text" id="designation" name="designation" class="form-control"
                          disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="jobGroup">Job Group</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="jobGroup" type="text" id="jobGroup" name="jobGroup" class="form-control"
                          disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="employmentType">Terms of Service</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="employmentType" type="text" id="employmentType" name="employmentType" class="form-control"
                          disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="ministryStateDepartment">Ministry / State Department</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="model.employee.ministryStateDepartment" type="text" id="ministryStateDepartment"
                          name="ministryStateDepartment" class="form-control" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="directorateDepartmentDivision">Directorate /
                        Department / Division</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="model.employee.directorateDepartmentDivision" type="text" id="directorateDepartmentDivision"
                          name="directorateDepartmentDivision" class="form-control" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="sectionUnit">Section / Unit</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="model.employee.sectionUnit" type="text" id="sectionUnit" name="sectionUnit"
                          class="form-control" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="dutyStation">Duty Station</label>
                      <div class="col-md-8">
                        <input [(ngModel)]="model.employee.dutyStation" type="text" id="dutyStation" name="dutyStation"
                          class="form-control" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="jobGroupJAndAbove === true">
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="supervisorName">Supervisor's Name</label>
                        <div class="col-md-8">
                          <input [(ngModel)]="supervisorName" type="text" id="supervisorName" name="supervisorName"
                            class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="supervisorDesignation">Supervisor Designation</label>
                        <div class="col-md-8">
                          <input [(ngModel)]="supervisorDesignation" type="text" id="supervisorDesignation" name="supervisorDesignation"
                            class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab class="main-tab" heading="Section 2" [active]="activeTab[1]">
                <tabset *ngIf="jobGroupJAndAbove === true">
                  <tab class="child-tab" heading="2(a)">
                    <h5 class="with-line">Individual Performance Targets derived from the Departmental / Directorate /
                      Division / Section / Unit / Supervisor’s Work Plan</h5>
                    <hr>
                    <ng-template *ngIf="jobGroupJAndAbove === true then performanceTargets"></ng-template>
                  </tab>
                  <tab class="child-tab" heading="2(b)">
                    <ng-template *ngIf="jobGroupJAndAbove === true then trainingNeeds"></ng-template>
                  </tab>
                  <tab class="child-tab" heading="2(c)">
                    <h5 class="with-line">To be signed at the beginning of the appraisal period</h5>
                    <hr>
                    <h6 class="with-line">Appraisee and management commitment to achieve the agreed performance
                      targets.</h6>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-md-12 col-form-label" for="appraiseePeriodStartName">Name of Appraisee</label>
                          <div class="col-md-12">
                            <input [(ngModel)]="employeeFullName" type="text" id="appraiseePeriodStartName" name="appraiseePeriodStartName"
                              class="form-control" disabled>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-md-12 col-form-label" for="appraiseePeriodStartSignature">Appraisee's
                            Signature</label>
                          <div class="col-md-12">
                            <input [(ngModel)]="model.appraiseePeriodStartSignature" type="text" id="appraiseePeriodStartSignature"
                              name="appraiseePeriodStartSignature" class="form-control" [disabled]="isEmployeeViewing !== true">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-md-12 col-form-label" for="appraiseePeriodStartSignatureDate">Date</label>
                          <div class="col-md-12">
                            <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.appraiseePeriodStartSignatureDate"
                              id="appraiseePeriodStartSignatureDate" name="appraiseePeriodStartSignatureDate"
                              [disabled]="isEmployeeViewing !== true"></ng-datepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-md-12 col-form-label" for="supervisorPeriodStartName">Supervisor
                            Name</label>
                          <div class="col-md-12">
                            <input [(ngModel)]="model.supervisorPeriodStartName" type="text" id="supervisorPeriodStartName"
                              name="supervisorPeriodStartName" class="form-control" [disabled]="isManagerViewing !== true">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-md-12 col-form-label" for="supervisorPeriodStartSignature">Supervisor
                            Signature</label>
                          <div class="col-md-12">
                            <input [(ngModel)]="model.supervisorPeriodStartSignature" type="text" id="supervisorPeriodStartSignature"
                              name="supervisorPeriodStartSignature" class="form-control" [disabled]="isManagerViewing !== true">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-md-12 col-form-label" for="supervisorPeriodStartSignatureDate">Date</label>
                          <div class="col-md-12">
                            <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.supervisorPeriodStartSignatureDate"
                              id="supervisorPeriodStartSignatureDate" name="supervisorPeriodStartSignatureDate"
                              [disabled]="isManagerViewing !== true"></ng-datepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tab>
                </tabset>
                <div *ngIf="jobGroupHAndBelow === true">
                  <h5 class="with-line">Agreed Performance Targets / Specific Tasks Assignment</h5>
                  <hr>
                  <ng-template *ngIf="jobGroupHAndBelow === true then performanceTargets"></ng-template>
                </div>

              </tab>
              <tab class="main-tab" heading="Section 3" [active]="activeTab[2]">
                <div *ngIf="jobGroupJAndAbove === true">
                  <h5 class="with-line">Mid-Year Review</h5>
                  <hr>
                  <div class="row">
                    <div class="col-lg-12">
                      <table [ngBusy]="busy" class="table table-bordered table-striped table-sm">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Agreed Performance Targets</th>
                            <th>Performance Indicators</th>
                            <th>Targets changed or added</th>
                            <th>Remarks (Indicate Level of Achievement)</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="model.performanceAppraisalTargets.length === 0">
                            <td colspan="6">
                              <h5>No Records</h5>
                            </td>
                          </tr>
                          <tr *ngFor="let appraisalTarget of model.performanceAppraisalTargets; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{appraisalTarget.performanceTarget}}</td>
                            <td>{{appraisalTarget.performanceIndicator}}</td>
                            <td>{{appraisalTarget.updatedPerformanceTarget}}</td>
                            <td>{{appraisalTarget.midYearReviewRemarks}}</td>
                            <td class="action-column">
                              <button class="btn btn-success btn-sm inline-button" (click)="editPerformanceAppraisalTarget(appraisalTarget.id,true)">Edit</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-md-12 col-form-label" for="supervisorMidYearReviewName">Supervisor
                          Name</label>
                        <div class="col-md-12">
                          <input [(ngModel)]="model.supervisorMidYearReviewName" type="text" id="supervisorMidYearReviewName"
                            name="supervisorMidYearReviewName" class="form-control" [disabled]="isManagerViewing !== true">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-md-12 col-form-label" for="supervisorMidYearReviewSignature">Supervisor
                          Signature</label>
                        <div class="col-md-12">
                          <input [(ngModel)]="model.supervisorMidYearReviewSignature" type="text" id="supervisorMidYearReviewSignature"
                            name="supervisorMidYearReviewSignature" class="form-control" [disabled]="isManagerViewing !== true">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-md-12 col-form-label" for="supervisorMidYearReviewSignatureDate">Date</label>
                        <div class="col-md-12">
                          <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.supervisorMidYearReviewSignatureDate"
                            id="supervisorMidYearReviewSignatureDate" name="supervisorMidYearReviewSignatureDate"
                            [disabled]="isManagerViewing !== true"></ng-datepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template *ngIf="jobGroupHAndBelow === true then trainingNeeds"></ng-template>
                <!--/.col-->
              </tab>
              <tab class="main-tab" heading="Section 4" [active]="activeTab[3]">
                <div *ngIf="jobGroupHAndBelow === true">
                  <h5 class="with-line">Appraisee's Comments (signed at the end of the
                    appraisal period)</h5>
                  <hr>
                  <h6 class="with-line">Appraisee's comments on performance including
                    any mitigating factors</h6>
                </div>
                <div *ngIf="jobGroupJAndAbove === true">
                  <h5 class="with-line">Appraisee’s comments and additional
                    assignments</h5>
                  <hr>
                  <h6 class="with-line"> a) Appraisee's comments on performance
                    including any mitigating factors</h6>
                </div>
                <textarea [(ngModel)]="model.appraiseePeriodEndComments" class="form-control" name="appraiseePeriodEndComments"
                  id="appraiseePeriodEndComments" rows="4" [disabled]="isEmployeeViewing !== true"></textarea>
                <hr>
                <ng-template *ngIf="jobGroupJAndAbove === true then additionalAssignments"></ng-template>
                <ng-template *ngIf="jobGroupHAndBelow === true then supervisorsComments"></ng-template>
              </tab>
              <tab class="main-tab" heading="Section 5" [active]="activeTab[4]">
                <ng-template *ngIf="jobGroupHAndBelow === true then recommendations"></ng-template>
                <div *ngIf="jobGroupJAndAbove === true">
                  <h5 class=" with-line">Supervisor's Comments</h5>
                  <hr>
                  <ng-template *ngIf="jobGroupJAndAbove === true then supervisorsComments"></ng-template>
                </div>
              </tab>
              <tab class="main-tab" *ngIf="jobGroupJAndAbove === true" heading="Section 6" [active]="activeTab[5]">
                <ng-template *ngIf="jobGroupJAndAbove === true then recommendations"></ng-template>
              </tab>
            </tabset>
            <!-- <hr>
            <div class="row">
              <div class="col-xs-12 col-12">
                <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
                  class="pagination-sm" [maxSize]="maxSize" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                  lastText="&raquo;">
                </pagination>
              </div>
            </div> -->
          </div>
          <div class="card-footer text-right">
            <button (click)="appraisalDetails.close()" class="btn btn-danger dialog-button">Cancel</button>
            <button (click)="save()" type="submit" class="btn btn-primary dialog-button">Save</button>
          </div>
        </div>
      </div>
      <!--/.col-->
      <!--/.row-->
    </div>
  </div>

  <!-- Templates -->
  <ng-template #performanceTargets>
    <div class="row">
      <div class="col-lg-12">
        <div class="row mb-3">
          <div class="col-md-8">
            <button *ngIf="isEmployeeViewing === true" (click)="addPerformanceAppraisalTarget()" class="btn btn-primary">Add</button>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <table [ngBusy]="busy" class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Agreed Performance Targets</th>
              <th>Performance Indicators</th>
              <th *ngIf="jobGroupHAndBelow === true">Mid-Year Review (Remarks)</th>
              <th *ngIf="jobGroupJAndAbove === true">Achieved results in line with the performance indicator</th>
              <th>Performance Appraisal Score</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="model.performanceAppraisalTargets.length === 0">
              <td colspan="6">
                <h5>No Records</h5>
              </td>
            </tr>
            <tr *ngIf="jobGroupJAndAbove === true && model.performanceAppraisalTargets.length > 0">
              <td></td>
              <td colspan="2">(To be completed by the Appraisee in consultation with the Supervisor at the beginning of
                the
                appraisal period)</td>
              <td colspan="2">(To be completed by the Supervisor in consultation with the Appraisee at the end of the
                ap praisal
                period)</td>
              <td></td>
            </tr>
            <tr *ngFor="let appraisalTarget of model.performanceAppraisalTargets; let i = index">
              <td>{{i + 1}}</td>
              <td>{{appraisalTarget.performanceTarget}}</td>
              <td>{{appraisalTarget.performanceIndicator}}</td>
              <td *ngIf="jobGroupHAndBelow === true">{{appraisalTarget.midYearReviewRemarks}}</td>
              <td *ngIf="jobGroupJAndAbove === true">{{appraisalTarget.achievedResult}}</td>
              <td class="text-right">{{appraisalTarget.performanceAppraisalScore | number:'1.2-2' }}</td>
              <td class="action-column">
                <button class="btn btn-success btn-sm inline-button" (click)="editPerformanceAppraisalTarget(appraisalTarget.id,false)">Edit</button>
                <button class="btn btn-danger btn-sm inline-button" (click)="deletePerformanceAppraisalTarget(appraisalTarget.id)">Delete</button>
              </td>
            </tr>
            <tr *ngIf="model.performanceAppraisalTargets.length > 0">
              <td colspan="4"><strong>Total appraisal score on performance targets</strong></td>
              <td class="text-right">{{totalAppraisalScore | number:'1.2-2' }}</td>
              <td></td>
            </tr>
            <tr *ngIf="model.performanceAppraisalTargets.length > 0">
              <td colspan="4"><strong> Mean appraisal score (%)</strong></td>
              <td class="text-right">{{meanAppraisalScore | number:'1.2-2' }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/.col-->
    </div>
  </ng-template>

  <ng-template #trainingNeeds>
    <h5 *ngIf="jobGroupJAndAbove === true" class="with-line">Staff Training and Development Needs</h5>
    <h5 *ngIf="jobGroupHAndBelow === true" class="with-line">Staff Training and Development Needs (signed at the
      beginning of appraisal
      period)</h5>
    <hr>
    <h6 class="with-line">Appraisee’s training and development needs in order of priority as
      identified by the appraisee and supervisor based on performance gaps</h6>
    <div class="row">
      <div class="col-lg-12">
        <div class="row mb-3">
          <div class="col-md-8">
            <button (click)="addPerformanceAppraisalTrainingNeed()" class="btn btn-primary">Add</button>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <table [ngBusy]="busy" class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Training Need Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="model.performanceAppraisalTrainingNeeds.length === 0">
              <td colspan="3">
                <h5>No Records</h5>
              </td>
            </tr>
            <tr *ngFor="let appraisalTrainingNeed of model.performanceAppraisalTrainingNeeds; let i = index">
              <td style="width:20px">{{i + 1}}</td>
              <td>{{appraisalTrainingNeed.description}}</td>
              <td class="action-column">
                <button class="btn btn-success btn-sm inline-button" (click)="editPerformanceAppraisalTrainingNeed(appraisalTrainingNeed.id)">Edit</button>
                <button class="btn btn-danger btn-sm inline-button" (click)="deletePerformanceAppraisalTrainingNeed(appraisalTrainingNeed.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="jobGroupHAndBelow === true">
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="trainingAppraiseeSignature">Appraisee's Signature</label>
            <div class="col-md-12">
              <input [(ngModel)]="model.trainingAppraiseeSignature" type="text" id="trainingAppraiseeSignature" name="trainingAppraiseeSignature"
                class="form-control" [disabled]="isEmployeeViewing !== true">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="trainingAppraiseeSignatureDate">Date</label>
            <div class="col-md-12">
              <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.trainingAppraiseeSignatureDate"
                id="trainingAppraiseeSignatureDate" name="trainingAppraiseeSignatureDate" [disabled]="isEmployeeViewing !== true"></ng-datepicker>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="trainingSupervisorName">Supervisor
              Name</label>
            <div class="col-md-12">
              <input [(ngModel)]="model.trainingSupervisorName" type="text" id="trainingSupervisorName" name="trainingSupervisorName"
                class="form-control" [disabled]="isManagerViewing !== true">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="trainingSupervisorSignature">Supervisor Signature</label>
            <div class="col-md-12">
              <input [(ngModel)]="model.trainingSupervisorSignature" type="text" id="trainingSupervisorSignature" name="trainingSupervisorSignature"
                class="form-control" [disabled]="isManagerViewing !== true">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="trainingSupervisorSignatureDate">Date</label>
            <div class="col-md-12">
              <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.trainingSupervisorSignatureDate"
                id="trainingSupervisorSignatureDate" name="trainingSupervisorSignatureDate" [disabled]="isManagerViewing !== true"></ng-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #additionalAssignments>
    <h6 class="with-line">b) Additional assignments</h6>
    <div class="row">
      <div class="col-lg-12">
        <div class="row mb-3">
          <div class="col-md-8">
            <button (click)="addPerformanceAppraisalAdditionalAssignment()" class="btn btn-primary">Add</button>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <table [ngBusy]="busy" class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Additional Assignment Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="model.performanceAppraisalAdditionalAssignments.length === 0">
              <td colspan="3">
                <h5>No Records</h5>
              </td>
            </tr>
            <tr *ngFor="let appraisalAdditionalAssignment of model.performanceAppraisalAdditionalAssignments; let i = index">
              <td style="width:20px">{{i + 1}}</td>
              <td>{{appraisalAdditionalAssignment.description}}</td>
              <td class="action-column">
                <button class="btn btn-success btn-sm inline-button" (click)="editPerformanceAppraisalAdditionalAssignment(appraisalAdditionalAssignment.id)">Edit</button>
                <button class="btn btn-danger btn-sm inline-button" (click)="deletePerformanceAppraisalAdditionalAssignment(appraisalAdditionalAssignment.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>

  <ng-template #supervisorsComments>
    <h6 *ngIf="jobGroupHAndBelow === true" class="with-line">Supervisor’s (immediate) remarks if any on Appraisee
      performance</h6>
    <h6 *ngIf="jobGroupJAndAbove === true" class="with-line">Supervisor’s comments on appraisee’s performance at the
      end of the year
      including any factors that hindered performance (Please indicate if the appraissee
      requires to be put on a performance improvement plan/programme. If so, indicate
      the type).</h6>
    <textarea [(ngModel)]="model.supervisorPeriodEndComments" class="form-control" name="supervisorPeriodEndComments"
      id="supervisorPeriodEndComments" rows="5" [disabled]="isManagerViewing !== true"></textarea>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="supervisorPeriodEndName">Supervisor
            Name</label>
          <div class="col-md-12">
            <input [(ngModel)]="model.supervisorPeriodEndName" type="text" id="supervisorPeriodEndName" name="supervisorPeriodEndName"
              class="form-control" [disabled]="isManagerViewing !== true">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="supervisorPeriodEndSignature">Supervisor Signature</label>
          <div class="col-md-12">
            <input [(ngModel)]="model.supervisorPeriodEndSignature" type="text" id="supervisorPeriodEndSignature" name="supervisorPeriodEndSignature"
              class="form-control" [disabled]="isManagerViewing !== true">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="supervisorPeriodEndSignatureDate">Date</label>
          <div class="col-md-12">
            <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.supervisorPeriodEndSignatureDate"
              id="supervisorPeriodEndSignatureDate" name="supervisorPeriodEndSignatureDate" [disabled]="isManagerViewing !== true"></ng-datepicker>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #recommendations>
    <h6 class="with-line">Recommendation of rewards/sanctions/other
      intervention(s) to the Cabinet Secretary by the Ministerial
      Performance Management Committee:</h6>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="recommendedRewardType">i) Reward Type (Bonus,
            Commendation letter, etc.)</label>
          <div class="col-md-12">
            <input [(ngModel)]="model.recommendedRewardType" type="text" id="recommendedRewardType" name="recommendedRewardType"
              class="form-control" [disabled]="isEmployeeViewing === true">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="recommendedOtherInterventions">ii) Other
            interventions (Counseling, Training and Development,
            etc)</label>
          <div class="col-md-12">
            <input [(ngModel)]="model.recommendedOtherInterventions" type="text" id="recommendedOtherInterventions"
              name="recommendedOtherInterventions" class="form-control" [disabled]="isEmployeeViewing === true">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="recommendedSanction">iii) Sanction (Warning,
            Separation, etc)</label>
          <div class="col-md-12">
            <input [(ngModel)]="model.recommendedSanction" type="text" id="recommendedSanction" name="recommendedSanction"
              class="form-control" [disabled]="isEmployeeViewing === true">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="recommendationMinuteNo">iv) a) Minute No</label>
          <div class="col-md-12">
            <input [(ngModel)]="model.recommendationMinuteNo" type="text" id="recommendationMinuteNo" name="recommendationMinuteNo"
              class="form-control" [disabled]="isEmployeeViewing === true">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="recommendationMeetingDate"> b) Meeting held on</label>
          <div class="col-md-12">
            <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.recommendationMeetingDate"
              id="recommendationMeetingDate" name="recommendationMeetingDate" [disabled]="isEmployeeViewing === true"></ng-datepicker>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="jobGroupJAndAbove === true">
      <h6 class="with-line">Signed:</h6>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="recommendationChairPersonName">Chairperson
              Name</label>
            <div class="col-md-12">
              <input [(ngModel)]="model.recommendationChairPersonName" type="text" id="recommendationChairPersonName"
                name="recommendationChairPersonName" class="form-control" [disabled]="isEmployeeViewing === true">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="recommendationChairPersonSignature">Chairperson
              Signature</label>
            <div class="col-md-12">
              <input [(ngModel)]="model.recommendationChairPersonSignature" type="text" id="recommendationChairPersonSignature"
                name="recommendationChairPersonSignature" class="form-control" [disabled]="isEmployeeViewing === true">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="recommendationChairPersonSignatureDate">Date</label>
            <div class="col-md-12">
              <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.recommendationChairPersonSignatureDate"
                id="recommendationChairPersonSignatureDate" name="recommendationChairPersonSignatureDate" [disabled]="isEmployeeViewing === true"></ng-datepicker>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="recommendationSecretaryName">Secretary
              Name</label>
            <div class="col-md-12">
              <input [(ngModel)]="model.recommendationSecretaryName" type="text" id="recommendationSecretaryName" name="recommendationSecretaryName"
                class="form-control" [disabled]="isEmployeeViewing === true">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="recommendationSecretarySignature">Secretary
              Signature</label>
            <div class="col-md-12">
              <input [(ngModel)]="model.recommendationSecretarySignature" type="text" id="recommendationSecretarySignature"
                name="recommendationSecretarySignature" class="form-control" [disabled]="isEmployeeViewing === true">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="recommendationSecretarySignatureDate">Date</label>
            <div class="col-md-12">
              <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.recommendationSecretarySignatureDate"
                id="recommendationSecretarySignatureDate" name="recommendationSecretarySignatureDate" [disabled]="isEmployeeViewing === true"></ng-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h6 class="with-line">Authorized Officer:</h6>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="form-check">
          <input [(ngModel)]="model.recommendationAuthorizedOfficerApproved" type="checkbox" id="recommendationAuthorizedOfficerApproved"
            name="recommendationAuthorizedOfficerApproved" class="form-check-input" [disabled]="isEmployeeViewing === true">
          <label class="form-check-label" for="recommendationAuthorizedOfficerApproved"> Approved</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="recommendationAuthorizedOfficerName">Name</label>
          <div class="col-md-12">
            <input [(ngModel)]="model.recommendationAuthorizedOfficerName" type="text" id="recommendationAuthorizedOfficerName"
              name="recommendationAuthorizedOfficerName" class="form-control" [disabled]="isEmployeeViewing === true">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="recommendationAuthorizedOfficerSignature">Signature</label>
          <div class="col-md-12">
            <input [(ngModel)]="model.recommendationAuthorizedOfficerSignature" type="text" id="recommendationAuthorizedOfficerSignature"
              name="recommendationAuthorizedOfficerSignature" class="form-control" [disabled]="isEmployeeViewing === true">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="recommendationAuthorizedOfficerSignatureDate">Date</label>
          <div class="col-md-12">
            <ng-datepicker position="top-right" [options]="datePickerOptions" [(ngModel)]="model.recommendationAuthorizedOfficerSignatureDate"
              id="recommendationAuthorizedOfficerSignatureDate" name="recommendationAuthorizedOfficerSignatureDate"
              [disabled]="isEmployeeViewing === true"></ng-datepicker>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Templates end -->

  <!-- Modals -->
  <app-performance-target-details></app-performance-target-details>
  <app-performance-training-need-details></app-performance-training-need-details>
  <app-performance-additional-assignment-details></app-performance-additional-assignment-details>
  <!-- Modals end -->
</ngx-smart-modal>