// Here you can add other styles
.inline-button {
    width: 55px;
    padding: 2px;
    margin: 2px;
    vertical-align: middle;
}

.inline-button-long {
    width: 120px;
    padding: 2px;
    margin: 2px;
    vertical-align: middle;
}