.nsm-dialog {
    &.large-modal {
        max-width: none;
    }
    &.medium-modal {
        max-width: 1280px;
    }
}

.modal-image {
    max-width: 100%;
    border-radius: 3px;
    height: auto;
    display: block;
}

.nsm-dialog {
    .button {
        &:first-of-type {
            margin-left: 0;
        }
    }
    &.no-padding {
        .nsm-content {
            padding: 0 !important;
        }
    }
}

.nsm-dialog.no-padding {
    padding: 0;
}

.dialog-button {
    width: 100px;
    margin-left: 5px;
}